<div class="tasks-container">
<h1 >Tasks Manager</h1>
<%= link_to 'New Task', new_task_path,class:"task-title" %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
</div>
